<div class="container-fluid">
  <div class="vh-95 row">
    <div class="col d-flex align-items-center justify-content-center">
      <section>
        <mat-card>
          <h1 class="singleton-card-header">Login</h1>

          <form [formGroup]="loginForm" (submit)="login()">
            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="email" 
                type="email"
                placeholder="Email">
            </mat-form-field>

            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="password" 
                type="password"
                placeholder="Password">
            </mat-form-field>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-spinner 
                  *ngIf="authenticating"
                  mode="indeterminate"
                  [diameter]="40"></mat-spinner>
              </div>
            </div>

            <ng-container *ngIf="!authenticating">
              <button 
                (click)="login()"
                mat-raised-button 
                color="primary"
                type="submit">Login</button>
  
              <button
                mat-stroked-button
                color="accent"
                routerLink="/register"
                type="button">Register</button>
            </ng-container>
          </form>
        </mat-card>
      </section>
    </div>
  </div>
</div>
