.account-card {
  background-color: #ecf0f1;
  min-width: 200px;
  position: absolute;
  z-index: 9;
}

#card-buttons-container {
  padding-bottom: 7.5px;
  padding-top: 7.5px;

  a {
    display: block;
  }

  a:hover {
    background-color: #f5f5f5;
  }

  mat-divider,
  a {
    width: 180px;
  }
}
