$white: #f8f6f7;
$light-gray: #aaa;
$gray: #777;

$seeable-blue: #d0dbe4;
$unsat-blue: #a0b6d0;
$light-blue: #81b7e5;
$primary-blue: #259fcc;
$background-blue: #0277bd;
$gray-blue: #4b6984;
$purple-blue: #4761b6;
$dark-blue: #293f65;
$royal-blue: #032543;

$orange: #eea232;

$red: #d30;

$dark: #212121;
