<div class="container-fluid">
  <div class="vh-95 row">
    <div class="col d-flex align-items-center justify-content-center">
      <section>
        <mat-card>
          <h1 class="singleton-card-header">Register</h1>

          <form [formGroup]="registerForm" (submit)="register()">
            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="fname" 
                type="text"
                placeholder="First name">
            </mat-form-field>

            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="lname" 
                type="text"
                placeholder="Last name">
            </mat-form-field>

            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="email" 
                type="email"
                placeholder="Email">
            </mat-form-field>

            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="password" 
                type="password"
                placeholder="Password">
            </mat-form-field>
  
            <mat-form-field [appearance]="environment.MAT_FORM_FIELD_APPEARANCE">
              <input 
                matInput
                formControlName="retypePassword" 
                type="password"
                placeholder="Retype your password">
            </mat-form-field>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-spinner 
                  *ngIf="registering"
                  mode="indeterminate"
                  [diameter]="40"></mat-spinner>
              </div>
            </div>

            <ng-container *ngIf="!registering">
              <button 
                (click)="register()"
                mat-raised-button
                [disabled]="!registerForm.valid && !passwordsMatch()"
                color="primary">Register</button>
  
              <button
                mat-stroked-button
                color="accent"
                routerLink="/login"
                type="button">Log in</button>
            </ng-container>
          </form>
        </mat-card>
      </section>
    </div>
  </div>
</div>
